.Main-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 500px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 8px;
    margin: 0;
    margin-bottom: 18px;
    transition: all 0.3s ease-in-out;
    &._completed {
        border: 2px solid #05ff06;
    }
    @media (max-width: 750px) {
        width: 90%;
    }
    &__name {
        max-width: 50%;
        line-height: 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.3s ease-in-out;
        &._completed {
            color: #05ff06;
        }
    }
    &__date {
        line-height: 2;
    }
    img {
        object-fit: contain;
        margin-bottom: 65px;
        max-width: 100%;
        height: 250px;
    }
    &__bot {
        display: flex;
        justify-content: space-between;
    }
    button {
        display: flex;
        align-items: center;
        width: 45px;
        height: 35px;
        cursor: pointer;
        border: none;
        background: transparent;
        img {
            object-fit: contain;
            margin: 0;
        }
    }
    &__completed._completed {
        svg {
            path {
                transition: all 0.3s ease-in-out;
                fill: #05ff06;
            }
        }
    }
    &__fav._favorite {
        svg {
            path {
                transition: all 0.3s ease-in-out;
                fill: #ff517d;
            }
        }
    }
}
